.header {
	position: fixed;
	top: 1rem;
	left: 0;
	right: 0;
	height: 5rem;
	width: calc(100% - 2rem);
	max-width: 80rem;
	margin: 0 auto;
	z-index: 10;
	border-radius: 1rem;
	background-color: var(--darkColor);
	padding: 0.8rem;
	overflow: hidden;
	box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
		0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
		0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
		0 3.5px 6px hsla(230, 13%, 9%, 0.09);
	@include devices("mobileLandscape") {
		height: 4.5rem;
		overflow: unset;
	}
	.header_nav {
		display: flex;
		position: relative;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	.header_logo {
		background-color: var(--bodyBg);
		color: var(--bodyColor);
		font-weight: bold;
		border-radius: 0.5rem;
		height: 100%;
		width: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		@include devices("mobileLandscape") {
			font-size: 1.5rem;
			background-color: var(--darkColor);
		}
	}
	.header_links {
		flex: 1;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 100%;
		width: 100%;
		@include devices("mobileLandscape") {
			position: fixed;
			top: 5rem;
			left: 0;
			height: calc(100vh - 20rem);
			transform: translateY(0%);
			width: 100%;
			border-radius: 1rem;
			background-color: var(--darkColor);
			padding: 0.8rem;
			box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
				0 0 0 1px hsla(230, 13%, 9%, 0.075),
				0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
				0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
				0 3.5px 6px hsla(230, 13%, 9%, 0.09);
		}
		.header_links_list {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			gap: 3rem;
			list-style: none;
			@include devices("mobileLandscape") {
				flex-direction: column;
			}
			li {
				@include devices("mobileLandscape") {
					opacity: 0;
				}
				&:last-child {
					display: none;
					@include devices("tablet") {
						display: block;
					}
				}
				a {
					color: var(--bodyColor);
					transition: var(--transition);
					position: relative;
					text-align: center;
					letter-spacing: 0.1rem;
					padding: 0.5rem;
					border-radius: 0.2rem;
					&::after {
						content: "";
						height: 0.2rem;
						position: absolute;
						bottom: -0.3rem;
						left: 0;
						background-color: var(--bodyColor);
						transition: var(--transition);
						opacity: 0;
						width: 0;
					}
					&.active,
					&:hover,
					&:focus-visible {
						&::after {
							opacity: 1;
							width: 100%;
						}
					}
				}
			}
		}
	}
	.header_cta {
		height: 100%;
		z-index: 2;
		margin-left: auto;
		margin-right: 1rem;
		@include devices("tablet") {
			display: none;
		}
		a {
			transition: var(--transition);
			background-color: var(--bodyBg);
			color: var(--bodyColor);
			font-weight: 500;
			height: 100%;
			border-radius: 0.5rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0 2rem;
			&:hover,
			&:focus-visible {
				background-color: var(--bodyColor);
				color: var(--bodyBg);
			}
		}
	}
	.header_menu {
		display: none;
		height: 100%;
		@include devices("mobileLandscape") {
			display: block;
		}
		button {
			display: inline-flex;
			transition: var(--transition);
			background-color: var(--bodyBg);
			color: var(--bodyColor);
			font-size: 1.5rem;
			height: 100%;
			border-radius: 0.5rem;
			align-items: center;
			justify-content: center;
			padding: 0 1rem;
			@include devices("mobileLandscape") {
				background-color: var(--darkColor);
			}
			&:hover,
			&:focus-visible {
				background-color: var(--bodyColor);
				color: var(--bodyBg);
			}
		}
		& .bi-x-lg,
		&.active .bi-list {
			display: none;
		}
		&.active .bi-x-lg {
			display: block;
		}
	}
}
