.projects_section {
	height: auto;
	width: auto;
	overflow: hidden;
	.projects_section_heading {
		font-size: 8 + $sizeUnit;
		line-height: 75%;
		color: $bodyColor;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: -0.8 + $sizeUnit;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: calc(100% - 2rem);
		max-width: 80 + $sizeUnit;
		height: 100%;
		padding: 3 + $sizeUnit 0;
		margin: 0 auto;
		@include devices("mobileLandscape") {
			font-size: 10 + $sizeUnit;
		}
		@include devices("mobile") {
			font-size: 3 + $sizeUnit;
			letter-spacing: 0.5 + $sizeUnit;
			flex-direction: column;
			gap: 1 + $sizeUnit;
		}
		.projects_section_count {
			font-size: 1.5 + $sizeUnit;
			height: 2 + $sizeUnit;
			line-height: 100%;
			letter-spacing: 0.5 + $sizeUnit;
			display: inline-flex;
		}
	}
	ul {
		height: 100%;
		width: auto;
		white-space: nowrap;
		display: inline-flex;
		align-items: flex-start;
		justify-content: flex-start;
		.projects_panel {
			height: auto;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 6rem 0;
			opacity: 0;
			@include devices("mobileLandscape") {
				padding: 3rem 0;
			}
			&:nth-child(even) {
				background-color: rgba(lighten($darkColor, 12%), 0.5);
			}
			&:nth-child(odd) {
				background-color: rgba(lighten($darkColor, 15%), 0.5);
			}
			.projects_section_project {
				height: 100%;
				width: 100%;
				a {
					display: flex;
					flex-direction: column;
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.projects_panel_card {
				height: 20 + $sizeUnit;
				width: 80%;
				position: relative;
				overflow: hidden;
				box-shadow: 0 + $sizeUnit 0.8 + $sizeUnit 0.6 + $sizeUnit -0.4 + $sizeUnit
					rgba($darkColor, 0.8);
				border-radius: 0.5 + $sizeUnit;
				.projects_panel_image {
					height: 100%;
					width: 100%;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 100%;
						background-color: rgba($darkColor, 0.2);
						opacity: 1;
						transition: $transition;
					}
					& img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						transition: $transition;
					}
				}
				& i.bi {
					position: absolute;
					right: 0;
					bottom: 0;
					background: rgba($darkColor, 0.5);
					padding: 0.5 + $sizeUnit 1 + $sizeUnit;
					font-size: 1.2 + $sizeUnit;
					border-top-left-radius: 0.5 + $sizeUnit;
				}
				.projects_panel_progress_wrapper {
					height: 0.2 + $sizeUnit;
					width: 100%;
					position: absolute;
					left: 0;
					bottom: 0;
					background-color: rgba($bodyColor, 0.2);
					.projects_panel_progress {
						height: 100%;
						width: 0%;
						background-color: $bodyColor;
						opacity: 0;
					}
				}
			}
			.projects_panel_footer {
				height: auto;
				width: 80%;
				@include devices("mobile") {
					width: 80%;
				}
				.projects_panel_footer_title {
					text-transform: uppercase;
					font-size: 2 + $sizeUnit;
					margin-top: 1 + $sizeUnit;
					margin-bottom: 1 + $sizeUnit;
				}
				.projects_panel_footer_description {
					font-size: 1 + $sizeUnit;
					opacity: 0;
					transition: $transition;
					@include devices("tablet") {
						opacity: 1;
					}
				}
				.projects_panel_footer_title,
				.projects_panel_footer_description {
					width: 100%;
					white-space: normal;
				}
			}

			&.active,
			&:hover {
				.projects_panel_footer_description {
					opacity: 1;
				}
				.projects_panel_card {
					.projects_panel_image {
						&:after {
							opacity: 0;
						}
					}
					.projects_panel_progress_wrapper {
						.projects_panel_progress {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
