* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
button {
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	border: 0;
	color: var(--bodyColor);
	font-size: var(--textSize) rem;
}

ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
