$color-bg-dark: #2e2f32;
$color-bg-light: #e0e7f6;
$color-switch-dark: #16171a;
$color-switch-light: #e8eaed;
$color-text-dark: rgba(#4f545e, 0.9);
$color-text-light: rgba(#aeafb2, 0.8);
$color-switch-button: #000;

html[data-theme="light"] {
	//start animations & add colors
	#switch {
		animation: clickOn 0.5s;

		.bi-moon {
			animation: rotateOn 0.7s;
			opacity: 0;
		}

		.bi-brightness-high {
			animation: shakeOn 0.7s;
			opacity: 1;
		}
	}
}
html[data-theme="dark"] {
	//start animations & add colors
	#switch {
		animation: clickOff 0.5s;

		.bi-moon {
			animation: rotateOff 0.7s;
			opacity: 1;
		}

		.bi-brightness-high {
			animation: shakeOff 0.7s;
			opacity: 0;
		}
	}
}

.theme__switch {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	height: 100%;
	width: 3.4rem;

	#switch {
		border: none;
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		cursor: pointer;
		overflow: hidden;
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:hover,
		&:focus-visible {
			.btn-switch {
				background-color: var(--bodyColor);
			}
			i {
				color: var(--bodyBg);
			}
		}

		.btn-switch {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			background-color: var(--bodyBg);
			transition: var(--transition);
			@include devices("mobileLandscape") {
				background-color: transparent;
			}
		}

		i {
			font-size: 1.2rem;
			z-index: 1;
			color: var(--bodyColor);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
