@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css");

//Dark Theme variables
$bodyColorDark: #e8eaed !default;
$bodyColorRGBDark: rgba($bodyColorDark, 0) !default;
$bodyBgDark: #2c2d30 !default;
$bodyBgRGBDark: rgba($bodyBgDark, 0) !default;
$darkColorDark: darken($bodyBgDark, 10%) !default;
$blackDark: #000 !default;
$OpacityDark03: rgba(darken($darkColorDark, 10%), 0.3);
$OpacityDark05: rgba(lighten($darkColorDark, 12%), 0.5);
$bodyColorDark03: rgba($bodyColorDark, 0.3);

//Light Theme variables
$bodyColorLight: #2c2d30 !default;
$bodyColorRGBLight: rgba($bodyColorLight, 0) !default;
$bodyBgLight: #e8eaed !default;
$bodyBgRGBLight: rgba($bodyBgLight, 0) !default;
$darkColorLight: darken($bodyBgLight, 10%) !default;
$blackLight: #fff !default;
$OpacityLight03: rgba(darken($darkColorLight, 10%), 0.3);
$OpacityLight05: rgba(lighten($darkColorLight, 12%), 0.5);
$bodyColorLight03: rgba($bodyColorLight, 0.3);

//Common Variables
$focusColor: #007aff;
$rgbFocusColor: rgba($focusColor, 0.8);

//Breakpoints
$mobile: 35.999rem;
$mobileLandscape: 47.999rem;
$tablet: 61.999rem;
$desktop: 74.999rem;
$largeDesktop: 87.499rem;

:root {
	--fontFamily: "Roboto Condensed", sans-serif;
	--fontWeight: 400;
	--lineHeight: 1.5;
	--spacing: 8;
	--transition: all 0.3s ease-out;
	--focusColor: #{$focusColor};
	--focusShadow: 0 0 0 0.25rem #{$rgbFocusColor};
}

html[data-theme="light"] {
	--bodyColor: #{$bodyColorLight};
	--bodyColorRGB: #{$bodyColorRGBLight};
	--bodyBg: #{$bodyBgLight};
	--bodyBgRGB: #{$bodyBgRGBLight};
	--darkColor: #{$darkColorLight};
	--black: #{$blackLight};
	--dark03: #{$OpacityLight03};
	--dark05: #{$OpacityLight05};
	--bodyColor03: #{$bodyColorLight03};

	& body {
		background-image: url(../assets/images/bg-inverted.webp);
	}
}
html[data-theme="dark"] {
	--bodyColor: #{$bodyColorDark};
	--bodyColorRGB: #{$bodyColorRGBDark};
	--bodyBg: #{$bodyBgDark};
	--bodyBgRGB: #{$bodyBgRGBDark};
	--darkColor: #{$darkColorDark};
	--black: #{$blackDark};
	--dark03: #{$OpacityDark03};
	--dark05: #{$OpacityDark05};
	--bodyColor03: #{$bodyColorDark03};

	& body {
		background-image: url(../assets/images/bg.webp);
	}
}
